@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Recursive';
    src: url("/med.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Recursive';
  src: url('/med-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Recursive';
  src: url('/bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Recursive';
  src: url('/bold-italic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway-Medium.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('Raleway-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lusitania';
  src: url('/Lusitana-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lusitania';
  src: url('/Lusitana-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}


html {
  font-family: 'Recursive';
}

.font-display {
  font-family: 'Raleway';
}

.font-display-bold {
  font-family: 'Raleway';
  font-weight: bold;
}

.font-ui {
  font-family: 'Recursive';
}

.font-body {
  font-family: 'Lusitania';
}

body {
  @apply font-sans m-0 p-0;
}

div {
  @apply font-sans;
}
